---
layout: page
title: Projects
---

<div class="post-content">
    <div class="wrapper">
        <p>
        To view our project ideas, or to propose a project idea, open an issue <a href="https://github.com/open-austin/project-ideas/issues">in our GitHub issue tracker</a>. If you’re not familiar with GitHub, feel free to contact us instead.

        Our project ideas can include requests for help from local nonprofits or government entities, requests to participate in existing civic-oriented open source projects, or original ideas from Open Austin participants.
        </p>
        <h2>Getting Involved</h2>
        <p>
            Check out our <a href=https://github.com/open-austin/project-ideas/milestone/2s>active project ideas</a> or <a href="https://github.com/open-austin/project-ideas/issues">all project ideas</a>, and choose one to work on or add your own. You can also check our <a href="https://helpwanted.team/open-austin">experimental list of issues needing technical help</a>, or view more information about our <a href="/projects/process">project process</a>.
        </p>

      <h2>Project Gallery</h2>
        <ul class="project-gallery">
            {% assign items = site.projects | sort: 'date' | reverse %}
            {% for project in items %}
            {% unless project.archived == true %}
            <div class="project-gallery-item">
            <li>
                <div class="project-header">
                    <a class="post-link" href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
                </div>
                {% if project.screenshot %}
                <div class="project-image-container">
                    <a href="{{ project.url }}">
                        <img class="" src="/assets/images/projects/screenshots/{{ project.screenshot }}" alt="{{ project.title }}">
                    </a>
                </div>
                {% endif %}
                <div class="project-links">
                    {% if project.access_at %}
                        <a href="{{ project.access_at }}" class="svg-icon">{% include icons/SVG/link.svg %}</a>
                    {% endif %}
                    {% if project.project_at %}
                        <a href="{{ project.project_at }}" class="svg-icon icon--github" target="_blank">{% include icons/icon-github.svg %}</a>
                    {% endif %}
                    {% if project.cfa_stage %}
                        <a class="project-status" href="/projects/process#{{ project.cfa_stage }}" target="_blank">
                            <span class="btn btn-{{ project.cfa_stage }}-project">{{ project.cfa_stage }}</span>
                        </a>
                    {% endif %}
                </div>
                <div class="project-summary">
                    {{ project.description | strip_html }}
                </div>
            </li>
            </div>
            {% endunless %} 
            {% endfor %}
        </ul>
    </div>
</div>
