---
layout: page
title: Projects
---

<div class="post-content">
    <div class="wrapper">
        <p>
        To view our project ideas, or to propose a project idea, open an issue at <a href="https://github.com/open-austin/project-ideas" alt="project ideas repo">github.com/open-austin/project-ideas</a>. If you’re not familiar with GitHub, feel free to contact us instead.

        These projects have been produced by Open Austin contributors.
        </p>
        <h2>Project Status</h2>
        <p>
            We are working on defining a process for projects to evolve from the experiment stage to alpha, beta, and official. Here is more information about our <a href="/projects/process">project process</a>.
        </p>

      <h2>Project Gallery</h2>
        <ul class="project-gallery">
            {% assign items = site.projects | sort: 'date' | reverse %}
            {% for project in items %}
            <div class="project-gallery-item">
            <li>
                <div class="project-header">
                    <a class="post-link" href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
                </div>
                {% if project.screenshot %}
                <div class="project-image-container">
                    <a href="{{ project.url }}">
                        <img class="" src="/assets/images/projects/screenshots/{{ project.screenshot }}" alt="{{ project.title }}">
                    </a>
                </div>
                {% endif %}
                <div class="project-links">
                    {% if project.access_at %}
                        <a href="{{ project.access_at }}" class="svg-icon">{% include icons/SVG/link.svg %}</a>
                    {% endif %}
                    {% if project.project_at %}
                        <a href="{{ project.project_at }}" class="svg-icon icon--github" target="_blank">{% include icons/icon-github.svg %}</a>
                    {% endif %}
                    {% if project.cfa_stage %}
                        <a class="project-status" href="https://www.codeforamerica.org/brigade/projects/stages" target="_blank">
                            <span class="btn btn-{{ project.cfa_stage }}-project">{{ project.cfa_stage }}</span>
                        </a>
                    {% endif %}
                </div>
                <div class="project-summary">
                    {{ project.description | strip_html }}
                </div>
            </li>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
