---
---
<html>

  {% include head.html %}

  <body>

  {% include header.html %}

    <div class="page-content">
    	<div class = "welcome-wrapper">
    		<div class = "welcome-screen" id = "welcome">
				<h1>Welcome!</h1>
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd799C8EF7cCXmuSM9jfYPFSlPGPReFOao_GTaI58QD_w5FPg/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</div>
			<div class = "welcome-screen" id = "thanks">
				<h1>Thanks!</h1>
				<p>We’re glad you made it today. We’ll get started with today’s meeting soon if we haven’t already.</p>
			
				<a href = "../about">
					<div class = "btn2">
						<h4>Learn More</h4>
					</div>
				</a>
			</div>
		</div>
    </div>

    {% include footer.html %}


  </body>

  {% include google-analytics.html %}

</html>