---
layout: default
---

<div class="home">

  <div class="hero-section">
    <div>
      <h1 class="hero-title">WE ARE OPEN AUSTIN</h1>
      <p class="hero-subtext">Promoting open government, open data, and civic application development in Austin, TX</p>
    </div>
    <div class="">
      <ul class="hero-btn-set">
        <a href="{{ site.baseurl }}/about/learn-more" class="hero-button-item">
          <li>Join Us</li>
        </a>
        <a href="{{ site.baseurl }}/projects" class="hero-button-item">
          <li>Get Hacking</li>
        </a>
      </ul>
    </div>
  </div>

  <div>
    <ul class="icons-row wrapper">
      <li class="icons-row-item">
        <a href="{{ site.baseurl }}/advocacy">
          {% include icons/capital.svg %}
        </a>
        <span>We advocate to make government work for the 21st century.</span>
      </li>
      <li class="icons-row-item">
        <a href="{{ site.baseurl }}/events">
          {% include icons/calendar.svg %}
        </a>
        <span>We host frequent meetups, hack projects and events. Join us!</span>
      </li>
      <li class="icons-row-item">
        <a href="{{ site.baseurl }}/projects">
          {% include icons/brigade.svg %}
        </a>
        <span>We develop open-source projects as a Code for America Brigade.</span>
      </li>
    </ul>
  </div>

  <div class="next-event-banner">
    <!-- TODO -->
  </div>

  <div class="featured-section current-news-section">
    <div class="wrapper">
      <h2>LATEST NEWS</h2>
      <ul>
      {% for post in site.posts limit:1 %}
        <li class="v-wrap flex-container">
          <div class="featured-section-image">
            <img class="featured-section-thumbnail" src="{{ site.baseurl }}/assets/images/{{ post.thumb }}" alt="{{ post.title }}">
          </div>
          <div class="flex-item">
            <h3>
              <a class="post-link" href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>
            </h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            {% if post.author %}
             • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ post.author['display_name'] }}</span>
              </span>
            {% endif %}
            <p class="featured-section-summary">
              {{ post.content | strip_html | truncate: 420 }}
              {% if post.content.size > 60 %}
                <a href="{{ site.baseurl }}/{{ post.url }}">Read more</a>
              {% endif %}
            </p>
          </div>
        </li>
      {% endfor %}
      </ul>
      <h3 class="featured-section-more">
        <a href="{{ site.baseurl }}/blog">More Recent Posts</a>
      </h3>
    </div>
  </div>

  <div class="featured-section">
    <div class="wrapper">

      <h2>FEATURED PROJECT</h2>
      <ul>
      {% for project in site.projects %}
        {% if project.featured == true %}
          <li class="v-wrap flex-container">
            <div class="featured-section-image">
              <img class="featured-section-thumbnail" src="{{ site.baseurl }}/assets/images/{{ project.thumb }}" alt="{{ project.title }}">
            </div>
            <div class="flex-item">
              <div class="featured-project-header flex-container">
                <a class="post-link" href="{{ site.baseurl }}{{ project.url }}"><h3>{{ project.title }}</h3></a>
                <a href="{{ project.project_at }}" class="svg-icon icon--github">{% include icons/icon-github.svg %}</a>
                <a class="project-status" href="https://www.codeforamerica.org/brigade/projects/stages">
                  <span class="btn btn-{{ project.cfa_stage }}-project">{{ project.cfa_stage }}</span>
                </a>
              </div>

              <p class="featured-section-summary">
                {{ project.description | strip_html | truncate: 420 }}
                {% if project.description.size > 60 %}
                <a href="{{ site.baseurl }}{{ project.url }}">Read more</a>
                {% endif %}
              </p>
            </div>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      <h3 class="featured-section-more">
        <a href="{{ site.baseurl }}/projects">MORE PROJECTS</a>
      </h3>

    </div>
  </div>

</div>
