---
layout: default
---
<div class="banner">
  <div class="wrapper banner-wrapper">
    <div class="image-wrapper">
      <a href="/candidate-questionnaires/2016.html">
        <img src="/assets/banner-icon-election-checkmark.svg" alt="election badge" class="banner-icon">
      </a>
    </div>
    <div class="text-wrapper">
      <h3 class="strong">Elections are Nov 8. Early voting begins Oct 24.</h3>
      <p><a href="/candidate-questionnaires/2016.html">See your local candidates positions on Open Data.</a></p>
    </div>
  </div>
</div>

<div class="home">
  <div class="hero-section">
    <div>
      <h1 class="hero-title">We Are Open Austin</h1>
      <div class="hero-subtext">Open government, open data, and civic apps in Austin, TX.</div>
    </div>
  </div>

  {% include meetup.html %}

  {% include icons-row.html %}

  {% include featured-projects.html %}

  {% include current-news.html %}

</div>
