<div class="featured-section current-news-section post-content">
    <div class="wrapper">
        <h2>Most Recent Post</h2>
        {% for post in site.posts limit:1 %}
        <div class="v-wrap flex-container flex-column-on-palm">
            {% if post.thumb %}
              <div class="featured-section-image">
                  <img class="featured-section-thumbnail" src="{{ site.baseurl }}/assets/images/{{ post.thumb }}" alt="{{ post.title }}">
              </div>
            {% endif %}
            <div class="flex-item">
                <h3>
                    <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </h3>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                {% if post.author['first_name'] %}
                • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ post.author['first_name'] }} {{ post.author['last_name'] }}</span>
                </span>
                {% endif %}
                <p class="featured-section-summary">
                    {{ post.content | strip_html | truncate: 420 }}
                    {% if post.content.size > 60 %}
                    <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
        <h3 class="featured-section-more">
            <a class="btn" href="/blog">More Posts</a>
        </h3>
    </div>
</div>
