<footer class="site-footer">

    <div class="footer-col-wrapper wrapper">

      <div class="footer-col-3 footer-social-media footer-list">

        <h3>Follow Us</h3>

        <ul>
          <li><a href="https://www.facebook.com/Open-Austin-412390968837071/">Facebook</a></li>
          <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
          <li><a href="http://www.meetup.com/Open-Austin/">Meetup</a></li>
          <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
        </ul>

        <h3>Contact Us</h3>

        <ul>
          <li><a href="mailto:{{ site.email }}">Email us</a></li>
          <li><a href="http://slack.open-austin.org/">Join our Slack group</a></li>
          <li><a href="http://eepurl.com/cadL-T">Subscribe to our Newsletter</a></li>
        </ul>

      </div>

      <div class="footer-col-3 footer-special-thanks">
        <h3>Special Thanks to</h3>
        <ul class="sponsor-list">
          <li>
            <a href="http://www.codeforamerica.org"><img src="/assets/images/footercfa.png"></a>
          </li>
          <li>
            <a href="http://www.ch3data.com"><img src="/assets/images/footerch3.png"></a>
          </li>
        </ul>
      </div>

  </div>

  </div>
</footer>
