<div class="upcoming-events post-content">
	<div class="wrapper">
		<div id="meetup-widget"></div>
		{% raw %}
		<script type="x-tmpl-mustache" id="meetup-widget-template">
		<h2>Join Us at our Next Event</h2>
			{{#results}}
			<div class="meetup-row flex-container flex-column">
				<a class="url" href="{{event_url}}" target="_blank">{{name}}</a>
				<div class="flex-item">
					<div class="meetup-cal">
						<div class="meetup-month">{{month}}</div>
						<div class="meetup-cal-body">
							<div class="meetup-day">{{day}}</div>
							<div class="meetup-weekday">{{weekday}}</div>
						</div>
					</div>
					<div class="description">
						<div class="text">{{{description}}}</div>
					</div>
				</div>
				<div class="rsvp">
					<span class="count">{{yes_rsvp_count}} RSVPs</span>
					<a href="{{event_url}}" target="_blank">RSVP on Meetup.com</a>
				</div>
			</div>
			{{/results}}
		</script>
		{% endraw %}
		<script src="{{ site.baseurl }}/assets/js/mustache.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/meetup.js"></script>
	</div>
</div>
