.btn {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid $color-primary;
    color: $color-primary;
    text-decoration: none;
    margin-bottom: 10px;
    background: #fff;
    &:hover {
        text-decoration: none;
        color: #fff;
        background: $color-primary;
    }
}

.btn2 {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: $color-primary;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    &:hover {
        border: solid 2px $orange-color;
        text-decoration: none;
        color: $orange-color;
        background: #fff;
    }
}

.btn-welcome {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    padding: .6rem 1rem;
    border-radius: 6px;
    border: 1px solid $oa-blue;
    text-decoration: none;
    color: #fff !important;
    background: $oa-blue !important;
    &:hover {
        text-decoration: none;
        color: $oa-blue !important;
        background: #fff !important;
        border: 1px solid $oa-blue;
    }
}

// TODO this could be refactored into a mixin...
.btn-experiment-project {
    color: $cfa-experiment-purple;
    border: none;
    &:hover {
        background-color: $cfa-experiment-purple;
    }
}

.btn-alpha-project {
    color: $cfa-alpha-blue;
    border: none;
    &:hover {
        background-color: $cfa-alpha-blue;
    }
}

.btn-beta-project {
    color: $cfa-beta-blue;
    border: none;
    &:hover {
        background-color: $cfa-beta-blue;
    }
}

.btn-official-project {
    border: none;
}
