.btn {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid $color-primary;
    color: $color-primary;
    text-decoration: none;
    margin-bottom: 10px;
    &:hover {
        text-decoration: none;
        color: #fff;
        background: $color-primary;
    }
}

// TODO this could be refactored into a mixin...
.btn-experiment-project {
    color: $cfa-experiment-purple;
    border-color: $cfa-experiment-purple;
    &:hover {
        background-color: $cfa-experiment-purple;
    }
}

.btn-alpha-project {
    color: $cfa-alpha-blue;
    border-color: $cfa-alpha-blue;
    &:hover {
        background-color: $cfa-alpha-blue;
    }
}

.btn-beta-project {
    color: $cfa-beta-blue;
    border-color: $cfa-beta-blue;
    &:hover {
        background-color: $cfa-beta-blue;
    }
}
