// Original (needs review before delete)
$background-color: #fdfdfd;
$orange-color: #F05837;
$brand-color:  #F05837;
$blue-jeans:   #0086A7;
$light-blue:   #00CAF4;
$text-color:   #2d2d2d;
$grey-color:   #5D5D5D;
$light-orange-color: #ef8433;
$light-orange-color-transparent: lighten($light-orange-color, 40%);
$light-light-orange-color: rgba(255, 241, 241, 1);
$grey-color-light: lighten($grey-color, 70%);
$grey-color-dark:  darken($grey-color, 25%);
$light-grey-color: #D8d8d8;
$light-light-gray-color: rgba(229, 229, 230, 1);
$light-light-grey-color: $light-light-gray-color;

// -------------
// Updated Colors
//
// for inspiration:
// http://style.codeforamerica.org/

$oa-orange: #ea6036;
$oa-gray:   #5D5D5D;
$oa-grey:   $oa-gray;
$oa-blue:   #0082DE;

$cfa-red: #cf1b41;
$cfa-blue: #329ED5;
$cfa-gray: #6D6E71;
$cfa-grey:   $cfa-gray;

$cfa-experiment-purple: #69559E;
$cfa-alpha-blue: #78B5D8;
$cfa-beta-blue: #004A6B;
$cfa-offical-green: #00A274;

// primary colors
$color-primary:            $oa-orange; // orange
$color-primary-light:      #f2884b; // light orange
$color-primary-dark:       #c83e2f; // dark orange


$color-secondary: $oa-gray; // gray

// tertiary-colors
$color-tertiary: $oa-blue;

// neutral colors
$color-neutral-black:      #2D2D2D; // very dark gray
$color-neutral-dark-gray:  #AEAEAE; // med gray
$color-neutral-light-gray: #D8D8D8; // light gray
$color-neutral-white:      #FFFFFF; // white
