.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column-on-palm {
  @include media-query($on-palm) {
    flex-direction: column;
  };
}
