
/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: $grey-color-dark;
    position: relative;
    top: 100px;

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list,
.sponsor-list {
    list-style: none;
    margin-left: 0;
    display: flex;
}

.footer-social-media,
.footer-special-thanks {
  float: left;
  text-align: center;
}

.footer-social-media {
  width: 70%;
}

.footer-special-thanks {
  width: 30%;
  li {
    padding: 15px 5%;
  }
}

.footer-svg {
  margin-right: 5%;
  svg {
    max-width: 200px;
    fill: $color-neutral-light-gray;
    height: 50px;
    path {
      fill: $color-neutral-light-gray;
      max-height: 50px;
    }
    &:hover {
      path {
        fill: $oa-blue;
      }
      fill: $oa-blue;
    }
  }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.footer-social-media {

}
