// debugging CSS
// *:nth-child(n) {
//   background-color: rgba(255,0,0,0.1);
// }

/**
 * Site footer
 */
.site-footer {
    -border-top: 1px solid $grey-color-light;
    padding: $spacing-unit * 1.5;
    background: $grey-color-dark;
    position: relative;
  h3 {
    font-size: 1rem;
    margin: 0rem 0 1rem 0;
  }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.footer-list ul {
  list-style: none;
  margin: 0 0 3rem 0;
  text-align: center;
  li {
    margin-bottom: 8px;
  }
}

.footer-list ul:last-of-type {
  margin-bottom: 0;
  @include media-query($on-palm) {
    margin-bottom: 3rem;
  }
}


.hide {
  display: none;
}

.contact-list,
.social-media-list,
.sponsor-list {
    list-style: none;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.footer-social-media {
  width: 70%;
  @include media-query($on-palm) {
    padding-bottom: 20px;
  };
}

.footer-special-thanks {
  width: 30%;
  li {
    padding: 15px 5%;
    flex-direction: column;
    @include media-query($on-palm) {
      flex: 1;
    }
  }
  img {
    max-width: 160px;
    margin: 0 0 1.5rem 0;
  }
  @include media-query($on-palm) {
    padding: 0 25%;
  }
}

.footer-social-media,
.footer-special-thanks {
  float: left;
  text-align: center;
  @include media-query($on-palm) {
    width: 100%;
  };
}

.footer-special-thanks {
  float: right;
}

.social-media-list {
  margin-top: 10px;
  align-items: center;
  padding: 0 25px;
  li {
    flex: 1;
    float: left;
    @include media-query($on-palm) {
      padding: 0 15px;
      float: none;
    }
  }
  @include media-query($on-palm) {
    flex-direction: column;
  };
  .list-row-mobile {
    @include media-query($on-palm) {
      display: flex;
    }
  }
}

.footer-svg {
  svg {
    max-width: 200px;
    fill: $color-neutral-light-gray;
    height: 50px;
    margin-right: 15px;
    @include media-query($on-palm) {
      margin-right: 0;
      max-width: 100px;
    }
    path {
      fill: $color-neutral-light-gray;
      max-height: 50px;
    }
    &:hover {
      path {
        fill: $oa-blue;
      }
      fill: $oa-blue;
    }
  }
}

.footer-svg-twitter svg {
  width: 35px;
}

.footer-svg-facebook svg {
  width: 35px;
}

.footer-svg-github {
  svg {
    width: 120px;
    margin-top: 5px;
  }
}

.footer-svg-slack svg {
  width: 130px;
  margin-top: 2px;
}

.footer-svg-meetup svg {
  width: 60px;
}

.footer-svg-rss svg {
  width: 45px;
}

.footer-svg-email svg {
  width: 50px;
  margin-right: 0px;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    // margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));

}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
