.hero-section {
    border-bottom: 3px solid $color-primary;
    text-align: center;
    color: $background-color;
    min-height: $spacing-unit * 11;
    background-size: cover;
    background-image: url(/open-austin-org/assets/images/code-across-2015-pano.png);
    background-attachment: fixed !important;
    width: 100%;
    background-position: 50% 0;
    .hero-title {
        font-family: $font-primary;
        font-weight: 500;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
        padding-top: $spacing-unit * 3;
        font-size: $base-font-size * 5;
        margin-bottom: $spacing-unit * .5;
    }
    .hero-subtext {
        font-family: $font-primary;
        font-size: 25px;
        font-weight: 700;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
        margin: 0 auto;
        padding-bottom: 30px; 
    }
}
