.featured-section {
  h2 {
    text-align: center;
  }
  h3 {
    font-weight: bold;
  }
  width: 100%;
  padding: 30px;
  ul {
    margin: 0;
  }
  &.current-news-section {
    background: $color-neutral-light-gray;
  }
}

.featured-section-item {
  margin-top: 30px;
}

.featured-section-image {
  width: 250px;
  margin-right: 30px;
  text-align: center;
}

.featured-section-thumbnail {
  margin-right: 30px;
  height: 100%;
}

.featured-section-summary {
  margin-top: 15px;
}

.featured-section-more {
  text-align: center;
  text-transform: uppercase;
}

.featured-project-header {
  a {
    margin-right: 10px;
  }
  .project-status {
    margin-top: 5px;
    &:hover {
      text-decoration: none;
    }
  }
}
