.icons-row {
    display: flex;
    padding: 35px 0;
    list-style: none;
}

.icons-row-item {
    flex: 1;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    svg {
        height: 70px;
        width: 70px;
        padding: 5px;
        fill: $color-primary;
        &:hover {
            fill: $color-primary-dark;
        }
    }
}
