#event-list li
{
    display: inline;
}

hr {
  margin: 30px 0;
}

/**
* Page
*/

.page-header {
    margin-bottom: $spacing-unit;
    display: inline-block;
    width: 100%;
}

.page-content {
    position: relative;
}

.page, .project {
    max-width: $narrow-content-width;
    margin: $spacing-unit auto;
    @include media-query($on-palm) {
      padding: 0 3%;
    };
}

/**
* Table of Contents
*/

#markdown-toc {
  list-style: none;
}


/**
* Post content
*/

.post-col {
    float: left;
    margin-bottom: $spacing-unit / 1;
    padding-right: $spacing-unit / 2;
}
.post-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
    @include media-query($on-palm) {
        width: 100%;
        text-align: center;
    }
}

.post-col-2 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
    @include media-query($on-palm) {
        width: 100%;
        padding: 5%;
    }
}

.post-col-3 {
    width: -webkit-calc(10% - (#{$spacing-unit} / 2));
    width:         calc(10% - (#{$spacing-unit} / 2));
}


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        clear: both;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-inline-images {
  float: left;
  margin-right: 15px;
}

#list-wrapper {
    height: 220px;
}

.home-events {
    text-align: center;
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
    padding: $spacing-unit;
}

#ul-event-list button {
    background-color: $background-color;
    color: $orange-color;
    padding: $spacing-unit;
    font-size: $small-font-size;
    width: $spacing-unit * 6;
    clear: left;
}

#ul-event-list li {
    line-height: $spacing-unit * 3;
    display: inline;
    float: left;
    width: $spacing-unit * 7;
    height: $spacing-unit * 8;
    text-align: center;
    &:not(:last-child) {
        margin-right: 20px;
        > svg {
            width: 18px;
            height: 15px;
        }

    }
    .event-list-element img {
        padding: 20px;
        color: $orange-color;
    }
}


/**
* Posts
*/

.post-header {
    margin-bottom: $spacing-unit;
}

article.post {
    margin-top: $spacing-unit;
    @include word-wrap;
}

.post-title, .page-title {
    font-size: 42px;
    letter-spacing: -1px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content, .page-content {
    margin-bottom: $spacing-unit;
    clear: both;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
* Project
*/

.project {
    .thumb {
        img {
            max-height: 200px;
            max-width: 400px;
            @include media-query($on-palm) {
              max-width: 100%;
            }
        }
    }

    .post-content {
        margin-top: 15px;
    }

    .post-meta {
      margin: 1em 0;
    }
}

.breadcrumb {
  @include media-query($on-palm) {
    padding: 0 5%;
  };
}

.pagination {
  clear: both;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
}

.right {
  float: right;
}

.left {
  float: left;
}
