#meetup-widget {

    h2 {
        margin-top: 30px;
    }

    .meetup-row {
        padding: 20px 0;
        border-bottom: 1px solid #e5e5e6;
        &:last-child {
            border-bottom: none;
        }
    }

    .url {
        font-size: 24px;
    }

    .date {
        float: right;
        text-align: right;
        color: #87807f;
    }

    .description {
        $meetup-font-size: 13px;
        $meetup-lines-to-show: 7;
        $meetup-line-height: 1.9;
        color: #605b5a;
        padding: 10px 0;
        max-height: $meetup-lines-to-show * $meetup-font-size * $meetup-line-height;
        font-size: $meetup-font-size;
        position: relative;
        overflow: hidden;
        .text {
            * {
                line-height: $meetup-line-height;
                margin: 0;
                padding: 0;
            }
            br {
                display: none;
            }
        }
        .fade-out {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 30px 0;
            /* "transparent" only works here because == rgba(0,0,0,0) */
            background-image: linear-gradient(to bottom, transparent, white);
        }
    }
    .rsvp {
        $meetup-red: #e0393e;
        display: block;
        font-size: 13px;
        margin: 0 0 10px;
        z-index: 2;
        position: relative;
        a {
            background: #fff;
            padding: 5px 10px;
            border-radius: 3px;
            text-decoration: none;
            border: 1px solid $meetup-red;
            color: $meetup-red;
            background: white;
            &:hover {
                border: 1px solid $meetup-red;
                color: #fff;
                background: $meetup-red;
            }
        }
        .count {
            margin-left: 10px;
            color: #87807f;
        }
    }
}
