ul.project-gallery {
  list-style: none;
  margin: 0;
}

.project-gallery-item {
  width: 48%;
  float: left;
  margin-bottom: 10px;
  &:nth-child(odd) {
    margin-right: 4%;
  }
  @include media-query($on-palm) {
    width: 100%;
  }
}

.project {
    list-style: none;
    padding: 30px 0;
    border-bottom: 1px solid $light-light-gray-color;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border: none;
    }
}

.project-gallery {

    .project-header {
        display: inline-block;
    }
    .project-links {
        display: block;
        margin-top: 10px;
        a {
            padding: 0 5px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .project-summary {
        margin-top: 10px;
    }


    .project-image-container img {
        display: block;
        max-height: 250px;
    }
}

.project-image-container {
    margin: 10px 0;
}
.project-image-container img {
    border: 1px solid rgba(229, 229, 230, 1);
    box-shadow: 0px 0px 1px rgba(195, 193, 193, 0.8);
    &:hover {
        box-shadow: 0px 0px 3px rgba(105, 103, 103, 1);
    }
}

.project-description {
    padding-left: 30px;
}

.project-header {
    a {
        margin: auto;
        font-size: 18px;
    }
    .project-status {
        margin-top: 5px;
        &:hover {
            text-decoration: none;
        }
    }
}
