.project-gallery {
  list-style: none;
  margin-top: 0 !important;
}

.project-gallery-item {
  width: 48%;
  float: left;
  &:nth-child(odd) {
    margin-right: 4%;
  }
  @include media-query($on-palm) {
    width: 100%;
  }
}

.featured-project {
    list-style: none;
    padding: 30px 0;
    border-bottom: 1px solid $light-light-gray-color;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        border: none;
    }
}

.featured-project-header {
    display: inline-block;
}
.featured-project-links {
    display: inline-block;
    margin-top: 10px;
    a {
        padding: 0 5px;
        &:hover {
            text-decoration: none;
        }
    }
    @include media-query($on-palm) {
      text-align: right;
      width: 100%;
    };
}

.featured-project-image-container {
  width: 60%;
}
.project-image-container {
    margin: 10px 0;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0px 1px 3px rgba(195, 193, 193, 0.8);
}

.featured-project-image {
    max-height: 540px;
    display: block;
}

.featured-project-description {
    width: 60%;
    padding-left: 30px;
    @include media-query($on-palm) {
      width: 100%;
      padding-left: 0;
    };
}

.featured-project-header {
    a {
        margin: auto;
        font-size: 18px;
    }
    .project-status {
        margin-top: 5px;
        &:hover {
            text-decoration: none;
        }
    }
}
