.post-table {
  font-size: 12px;
  thead {
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
  }
  td {
    width: 100px;
  }
  tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.32);
  }
}
