html, body {
  font-family: $font-secondary;
}

h1, h2, h3, h4 {
  font-family: $font-primary;
}

.post-content {

    h2, h3, h4 {
        line-height: 1.4em;
    }


    p, li {
        line-height: 1.7em;
    }
    p {
        margin: 1em;
    }

    ul, ol {
        margin: 2em 1.5em;
    }
    li {
        margin-top: 1.1em;
        margin-bottom: 1.1em;
    }
}
