---
layout: page
title: 2016 Council Survey Results
date: 2016-10-11 00:00:00 -06:00
type: page
published: true
status: publish
categories: []
tags: []
header: true
---

<style>
  
.survey2016 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }
  .survey2016 p {
    font-size: 18px; }
  .survey2016 h2 {
    font-size: 26px; }
  .survey2016 small {
    font-size: 14px; }
  .survey2016 .intro {
    text-align: center;
    margin-bottom: 80px; }
  .survey2016 .tabs {
    position: relative;
    min-height: 500px;
    clear: both;
    margin: 25px 0; }
  .survey2016 .tab {
    float: left;
    min-width: 20%; }
  .survey2016 .tab label {
    margin-left: -1px;
    position: relative;
    left: 1px;
    bottom: 14px;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 17px;
    text-align: center;
    font-family: Helvetica Neue, serif; }
  .survey2016 .tab [type=radio] {
    display: none; }
  .survey2016 .tab-content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #F4F4F4; }
  .survey2016 [type=radio]:checked ~ label {
    z-index: 2;
    background-color: #F4F4F4;
    border-top: 5px solid #F5A623; }
  .survey2016 [type=radio]:checked ~ label ~ .tab-content {
    z-index: 1; }
  .survey2016 .district-candidates {
    padding: 20px 5px; }
  .survey2016 .candidate-headers {
    display: flex;
    padding: 20px 0 45px; }
  .survey2016 .candidate-circle-img {
    border-radius: 50%;
    max-width: 150px;
    margin: 15px auto; }
  .survey2016 .candidate-info-box {
    text-align: center;
    flex: auto;
    display: flex;
    flex-direction: column; }
  .survey2016 .contact-items a {
    padding: 5px; }
  .survey2016 .candidate-responses {
    border: 1px solid #CCCCCC;
    box-shadow: 0px 1px 5px 2px #CCCCCC;
    background: white;
    padding: 0 25px 25px; }
    .survey2016 .candidate-responses p {
      margin: 0; }
    .survey2016 .candidate-responses .topic-header {
      font-family: Helvetica Neue, serif;
      font-size: 26px;
      font-weight: bold;
      border-bottom: 1px solid #CCCCCC;
      margin: 25px 0; }
    .survey2016 .candidate-responses .question {
      margin-bottom: 30px; }
    .survey2016 .candidate-responses .candidate-response {
      margin-top: 25px;
      display: flex; }
    .survey2016 .candidate-responses .small-candidate {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-right: 15px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

</style>

<div class="survey2016">
  <div class="intro">
    <p>Since 2011, in every City of Austin election, Open Austin submitted a policy questionnaire to all the candidates. We ask for their response on a variety of open government and important civic tech issues. We do not endorse candidates, but we do encourage voters to be informed on candidate positions.</p>
    <h2>There are 5 council races this year</h2>
    <p>The elections this year are for districts 2, 4, 6, 7, & 10. The other 5 Council seats and the Mayor will be up for election in 2018.</p>
    <p>Don’t know your district? <a href="http://www.austintexas.gov/GIS/CouncilDistrictMap/">Find out now</a></p>
  </div>

  <div class="tabs">

    <div class="tab">
      <input type="radio" id="tab-1" name="tab-group-1" checked>
      <label for="tab-1">District 2</label>
      <div class="tab-content">
        <div class="district-candidates">

          <p><span class="strong">District 2</span> has 3 candidates running for City Council. Wesley Faulkner was the only candidate from District 2 to respond to our survey.</p>

          {% assign district = 2 %}
          {% include 2016_candidate_survey/district_body.html %}

        </div>
      </div>
    </div>

    <div class="tab">
      <input type="radio" id="tab-2" name="tab-group-1">
      <label for="tab-2">District 4</label>
      <div class="tab-content">
        <div class="district-candidates">

          <p><span class="strong">District 4</span> has 3 candidates running for City Council. Of the 3 candidates, Greg Casar was the only candidate to respond to our survey.</p>

          {% assign district = 4 %}
          {% include 2016_candidate_survey/district_body.html %}

        </div>
      </div>
    </div>


    <div class="tab">
      <input type="radio" id="tab-3" name="tab-group-1">
      <label for="tab-3">District 6</label>
      <div class="tab-content">
        <div class="district-candidates">

        <p>District 6 has 2 candidates running for City Council. Jimmy Flannigan was the only candidate from District 6 to respond to our survey.</p>

        {% assign district = 6 %}
        {% include 2016_candidate_survey/district_body.html %}

      </div>
      </div>
    </div>

    <div class="tab">
      <input type="radio" id="tab-4" name="tab-group-1">
      <label for="tab-4">District 7</label>
      <div class="tab-content">
        <div class="district-candidates">

          <p>District 7 has 2 candidates running for City Council. Leslie Pool was the only candidate from District 7 to respond to our survey.</p>

          {% assign district = 7 %}
          {% include 2016_candidate_survey/district_body.html %}

        </div>
      </div>
    </div>

    <div class="tab">
      <input type="radio" id="tab-5" name="tab-group-1">
      <label for="tab-5">District 10</label>
      <div class="tab-content">
        <div class="district-candidates">

          <p>District 10 has 4 candidates running for City Council. Alison Alter was the only candidate from District 10 to respond to our survey.</p>

          {% assign district = 10 %}
          {% include 2016_candidate_survey/district_body.html %}

        </div>
      </div>
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

<script>
  var contentHeight = $(".district-candidates").outerHeight();
  $(".tabs").css("min-height", contentHeight + 100 );

  $(".tab").on("click", function(){
    var contentHeight = $(this).find(".district-candidates").outerHeight();
    $(".tabs").css("min-height", contentHeight + 100 );
  });

</script>
