---
layout: page
title: 2016 Council Survey Results
date: 2016-10-11 00:00:00 -06:00
type: page
published: true
status: publish
categories: []
tags: []
header: true
---

<div class="survey2016">
  <div class="intro">
    <p>Since 2011, in every City of Austin election, Open Austin submitted a policy questionnaire to all the candidates. We ask for their response on a variety of open government and important civic tech issues. We do not endorse candidates, but we do encourage voters to be informed on candidate positions.</p>
    <h2>There are 5 council races this year</h2>
    <p>The other 5 seats will be up for election in 2 years. The elections this year are for districts 2, 5, 7, 8, & 10.</p>
    <p>Don’t know your district? <a href="http://www.austintexas.gov/GIS/CouncilDistrictMap/">Find out now</a></p>
  </div>

  <div class="tabs">

    <div class="tab">
      <input type="radio" id="tab-1" name="tab-group-1" checked>
      <label for="tab-1">District 2</label>
      <div class="tab-content">
        <p>District 2 has 3 candidates running for City Council. Wesley Faulkner was the only candidate from District 2 to responde to our survery.</p>

        {% for candidate in site.data.2016_candidates %}
          {% if candidate.district == 2 %}
            <h4>{{ candidate.name }}</h4>
            <p>{{ candidate.status }}</p>
            <img src="{{ candidate.image }}" alt="{{ candidate.name }} portrait">
          {% endif %}
        {% endfor %}

        {% for response in site.data.2016_responses %}
          {% if response.district == "District 2" %}
            {{ response.q1 }}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="tab">
      <input type="radio" id="tab-2" name="tab-group-1">
      <label for="tab-2">District 5</label>
      <div class="tab-content">
        hidasd
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-3" name="tab-group-1">
      <label for="tab-3">District 7</label>
      <div class="tab-content">
        hidfa
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-4" name="tab-group-1">
      <label for="tab-4">District 8</label>
      <div class="tab-content">
        hiasd
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-5" name="tab-group-1">
      <label for="tab-5">District 10</label>
      <div class="tab-content">
        hisdfa
      </div>
    </div>
  </div>

</div>
