---
layout: default
title: Blog
---
<div class="wrapper">

<article class="post">

<div class="breadcrumb"><a href="/">Home</a> > {{ page.title }} </div>

  <ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <div class="post-col post-col-1">
        {% if post.thumb %}
          <a href="{{ post.url }}"><img width="250px" height="200px" src="/assets/images/{{ post.thumb }}" alt="{{ post.thumbalt }}"></a>
        {% endif %}
      </div>
      <div class="post-col post-col-2">
        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{% if post.author %}{{ post.author['first_name'] }} {{ post.author['last_name'] }}{% endif %} | {{ post.date | date: "%b %-d, %Y" }}</span>
        <p>
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.content | strip_html | truncate: 250 }}
          {% endif %}
        </p>
        <a class="continue-link" href="{{ post.url }}">Continue Reading...</a>
      </div>
      <div class="post-col post-col-3"><div>
    </li>
  {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      {% if paginator.page == 1 %}
      {% else %}
        <span class="previous">Previous</span>
      {% endif%}
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
  
</article>

</div>
