---
layout: default
---
<div class="wrapper">

<article class="post">

<div class="breadcrumb"><a href="/">Home</a> > {{ page.title }} </div>

  <ul class="post-list">
  {% for post in site.posts %}
    <li>
      <div class="post-col post-col-1">
        {% if post.thumb %}
      <a href="{{ post.url | prepend: site.baseurl }}"><img width="250px" height="200px" src="/open-austin-org/images/{{ post.thumb }}" alt="{{ post.thumbalt }}"></a>
    {% endif %}

    </div>
    <div class="post-col post-col-2">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta">{% if post.author %}{{ post.author['first_name'] }} {{ post.author['last_name'] }}{% endif %} | {{ post.date | date: "%b %-d, %Y" }}</span>
      <p>{% if post.summary %}{{ post.summary }}{% endif %}</p>
      <a class="continue-link" href="{{ post.url | prepend: site.baseurl }}">Continue Reading...</a>
    </div>
    <div class="post-col post-col-3"><div>
    </li>
  {% endfor %}
  </ul>

</article>

</div>
