---
layout: default
---
<div class="wrapper project">
    <div class="breadcrumb">
        <a href="/">Home</a>
        &gt;
        <a href="/projects">Projects</a>
        &gt;
        <span class="active">{{ page.title }}</span>
    </div>

    <article class="post project" itemscope itemtype="http://schema.org/BlogPosting">

        <div class="post-col">
            <header class="post-header">
                <div>
                    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                    <div class="featured-project-links">
                        <a href="{{ page.access_at }}" class="svg-icon">{% include icons/SVG/link.svg %}</a>
                        <a href="{{ page.project_at }}" class="svg-icon icon--github">{% include icons/icon-github.svg %}</a>
                        {% if page.cfa_stage %}
                        <a class="project-status" href="https://www.codeforamerica.org/brigade/projects/stages">
                            <span class="btn btn-{{ page.cfa_stage }}-project">{{ page.cfa_stage }}</span>
                        </a>
                        {% endif %}
                    </div>
                    <p class="post-meta">
                        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                        {% if page.author %}
                        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ page.author['first_name'] }} {{ page.author['last_name'] }}</span>
                        </span>
                        {% endif %}
                        • <a href="{{site.github_repo}}/edit/master/{{page.relative_path}}" target="_blank">Edit project page</a>
                    </p>
                </div>
            </header>

            {% if page.screenshot %}
            <div class="screenshot">
                <img src="/assets/images/projects/screenshots/{{ page.screenshot }}">
            </div>
            {% endif %}

            <div class="post-content" itemprop="articleBody">
              {% if page.description %}
                <h2 class="post-description">{{ page.description }}</h2>
              {% endif %}

              {{ content }}
            </div>
        </div>
        <div class="post-col">
        </div>
    </article>
</div>
